* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

strong {
  display: block;
}

.user {
  color: black;
}

.user-inactive {
  color: gray;
}

.user-deleted {
  color: red;
}

.font-22 {
  font-size: 22px;
}
